/* COLORS */

$white:            #fff;
$darkgrey:         #4e4e4e;
$navyblue:         #003851;

$lightred:         #ff0000;




$lightno:          #f0f7f7;
$lightnw:          #dfeeee;
$lightgrey:        #cecdcd;
$grey:             #8b8b8b;
$lightblack:       #0e0e0e;
$black:            #000;



$blacktransparent: hsla(0, 0%, 0%, 0.8);
$shadow:           hsla(0, 0%, 0%, 0.3);
$red:              #be0000;

$darkred:          #810000;
$yellow:           #f9bb10;
$cyan:             #00b2eb;
$darkblue:         #004173;
$violet:           #6f00ff;
$lightgreen:       #26d466;
$green:            #1fad53;
