@use '../abstracts/variables' as color;

.main-header {
    width: 100%;
    height: 100px;
    background-color: color.$navyblue;
    color: color.$white;

    @media (min-width: 1010px) {
        position: absolute;
        margin-top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 97%;
        border-radius: 10px;
        overflow: hidden;

    }

    &__wrapper {
        max-width: 1600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0 auto;

        @media (min-width: 1010px) {
            flex-wrap: nowrap;
        }

        &__logo-container {
            padding-left: 1em;
            flex-grow: 1;

            &__logo {
                width: 250px;
            }
        }

        &__user-menu-container {
            display: block;
            order: 2;
            width: 100%;
            background-color: color.$navyblue;
            text-align: center;

            @media (min-width: 1010px) {
                display: block;
                width: auto;
            }

            & span {
                display: block;
            }

            & .user-menu {
                display: flex;
                flex-direction: column;

                @media (min-width: 1010px) {
                    display: none;
                }

                &__link {
                    padding: 1em 1em;
                    text-decoration: none;
                    color: color.$white;
                }

                &__link:nth-child(1) {
                    border-top: 2px solid color.$darkgrey;
                    white-space: nowrap;


                    @media (min-width: 1010px) {
                        border-top: none;
                    }
                }

                &__link:nth-child(2) {
                    border-bottom: 2px solid color.$darkgrey;
                    white-space: nowrap;

                    @media (min-width: 1010px) {
                        border-bottom: none;
                    }
                }

                @media (min-width: 1010px) {
                    flex-direction: row;
                    flex-wrap: nowrap;

                }
            }
        }

        &__main-nav-container {
            display: none;
            order: 1;
            width: 100%;
            background-color: color.$navyblue;
            text-align: center;
            flex-grow: 1;

            @media (min-width: 1010px) {
                display: block;
                width: 30%;
            }
        }

        &__language-selector {
            display: none;
            order: 3;
            width: 100%;
            background-color: color.$navyblue;
            padding: 1em 1em;
            text-align: center;

            @media (min-width: 1010px) {
                display: block;
                width: auto;
            }
        }

        &__hamburger-button-container {
            padding: 2.35em 1em;

            @media (min-width: 1010px) {
                display: none;
            }
        }
    }
}