@use '../abstracts/variables' as color;

body {
    padding: 0;
    margin: 0;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 1600px;

        & .selected-places {
            width: 100%;
            // border: 2px solid black;
            text-align: center;
            margin-bottom: 3em;

            & h2 {
                margin-top: 2em;
                margin-bottom: 1em;
            }

            & .destination-choose {
                position: relative;
                display: block;
                width: 100%;
                cursor: pointer;
                height: 200px;
                overflow: hidden;
                margin: 1em 0;
                // border: 2px solid black;

                @media (min-width: 766px) {
                    display: inline-block;
                    width: 30%;
                    margin: .5em;
                    border-radius: 10px;
                }

                & img {
                    width: 100%;
                    object-fit: contain;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

                & span {
                    position: absolute;
                    bottom: 1.5em;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 3em;
                    font-weight: 600;
                    color: color.$white;
                    text-shadow: 5px 3px 7px rgba(0, 0, 0, 0.5);

                    @media (min-width: 766px) {
                        font-size: 1.5em;
                    }
                }
            }
        }

        & .selected-boats {
            width: 100%;
            // border: 2px solid black;
            text-align: center;
            margin-bottom: 5em;

            & h2 {
                margin-top: 2em;
                margin-bottom: 1em;
            }

            & .best-boat {
                position: relative;
                display: block;
                width: 100%;
                cursor: pointer;
                height: 200px;
                overflow: hidden;
                margin: 1em 0;
                // border: 2px solid black;

                @media (min-width: 766px) {
                    display: inline-block;
                    width: 30%;
                    margin: .5em;
                    border-radius: 10px;
                }

                & img {
                    width: 100%;
                    object-fit: contain;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

                & span {
                    position: absolute;
                    bottom: 1.5em;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 3em;
                    font-weight: 600;
                    color: color.$white;
                    text-shadow: 5px 3px 7px rgba(0, 0, 0, 0.5);

                    @media (min-width: 766px) {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }

    &__interlude {
        width: 100%;
        height: 300px;
        background-image: url("../img/mid.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;
        margin: 3em 0;
        cursor: pointer;

        & p {
            text-align: center;
            line-height: 110px;
            color: color.$white;
            font-size: 32px;
            font-weight: 700;
            margin: 0 1em;
            text-shadow: 5px 3px 7px rgba(0, 0, 0, 0.5);

            @media (min-width: 800px) {
                font-size: 32px;
                line-height: 225px;
            }

        }
    }

}