@use '../abstracts/variables' as color;

.main-nav {
    &__list {
        display: flex;
        flex-direction: column;
      //  padding: 10xp 10px ;
        margin: 0;
        padding: 0;
        list-style: none;
    /*  background-color: blue;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%; */
    }

    &__item {
        padding: 1em 1em;
        
    }

    &__link {
        color: color.$white;
        text-decoration: none;
        display: block;
    }

    &__link:visited {
        color: color.$white;
    }

    &__link:hover {
        color: color.$white;
    }

/* 
    @media (min-width: 768px) {
    } */

}